.analyse-solar-water-heater-view{
  min-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow: auto;

  .operation-summary {
    margin-top: 20px;
  }

  .top-box {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    .top-left {
      width: 49%;
      min-width: 450px;
      display: inline-block;
      text-align: left;
    }

    .top-right {
      width: 49%;
      min-width: 450px;
      display: inline-block;
      text-align: right;
    }

    .date-button-wrapper {
      position: absolute;
      top: 10px;
      right: 5px;
      z-index: 1000;
    }

    .date-button {
      display: inline-block;
      height: 24px;
      line-height: 22px;
      border-radius: 12px;
      padding: 0 10px;
      border: solid 1px #fff;
      margin: 0 5px;
    }

    .date-button-selected {
      color: rgb(12, 213, 240);
      border-color: rgb(12, 213, 240);
    }
  }

  .bottom-box {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    .bottom-left {
      width: 49%;
      min-width: 450px;
      display: inline-block;
      text-align: left;
    }

    .bottom-right {
      width: 49%;
      min-width: 450px;
      display: inline-block;
      text-align: right;
    }
  }

  .date-button-wrapper {
    position: absolute;
    top: 3px;
    right: 0;
    z-index: 1000;
  }

  .date-button {
    display: inline-block;
    height: 24px;
    line-height: 22px;
    border-radius: 12px;
    padding: 0 10px;
    border: solid 1px #fff;
    margin: 0 5px;
  }

  .date-button-selected {
    color: rgb(12, 213, 240);
    border-color: rgb(12, 213, 240);
  }

  .box-wrapper {
    margin: 0;
    background: no-repeat;
  }

  .right-info-box {
    position: absolute;
    top: -30px;
    right: 100px;
    text-align: center;

    .chart-summary {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-size: 18px;
  
      div {
        width: 100%;
        text-align: center;
      }
    }
  }
}

