.analyse-solar-water-heater-view{
  min-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow: auto;

  .top-box {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    .top-left {
      width: 450px;
      display: inline-block;
      text-align: left;
    }

    .top-right {
      width: 450px;
      display: inline-block;
      text-align: right;
    }

    .top-middle {
      display: inline-block;
      flex-grow: 1;
      .top-middle-row {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
      }

      .top-info-box {
        width: 140px;
        height: 140px;
        flex-grow: 1;
        margin: 10px;
        text-align: center;
        white-space: normal;
        position: relative;
      }

      .number-value {
        font-size: 13px;
        margin-bottom: 10px;
        position: absolute;
        top: 22px;
        left: 45px;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: normal;
      }
    }

    .chart-wrapper {
      overflow: auto;
      position: relative;
    }

    .load-balance-wrapper {
      margin-top: 15px;
    }

    .date-button-wrapper {
      position: absolute;
      top: 3px;
      right: 0;
      z-index: 1000;
    }

    .date-button {
      display: inline-block;
      height: 24px;
      line-height: 22px;
      border-radius: 12px;
      padding: 0 10px;
      border: solid 1px #fff;
      margin: 0 5px;
    }

    .date-button-selected {
      color: rgb(12, 213, 240);
      border-color: rgb(12, 213, 240);
    }
  }
}
