.analyse-refrigeration-center-view{
  min-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 0;
  overflow: auto;

  .top-box {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    .top-left {
      flex-grow: 1;
      width: 40%;
      min-width: 450px;
      display: inline-block;
      text-align: left;
    }

    .top-middle {
      flex-grow: 0;
      padding-top: 130px;
      white-space: nowrap;
    }

    .top-right {
      flex-grow: 1;
      width: 40%;
      min-width: 450px;
      display: inline-block;
      text-align: right;
    }

    .chart-wrapper {
      overflow: auto;
      position: relative;
    }

    .date-button-wrapper {
      position: absolute;
      top: 10px;
      right: 5px;
      z-index: 1000;
    }

    .date-button {
      display: inline-block;
      height: 24px;
      line-height: 22px;
      border-radius: 12px;
      padding: 0 10px;
      border: solid 1px #fff;
      margin: 0 5px;
    }

    .date-button-selected {
      color: rgb(12, 213, 240);
      border-color: rgb(12, 213, 240);
    }
  }

  .bottom-box {
    width: 100%;
    margin-top: -40px;
    .table-history {
      width: 98%;
      margin: 10px auto;
      border: solid 1px #666;
      color: #fff;
      thead {
        background-color: rgb(22, 170, 170);
      }

      th, td {
        text-align: center;
        padding: 10px 8px;
      }
    }

    .row-even {
      background-color: #19244b;
    }

    .fa-long-arrow-up, .fa-long-arrow-down {
      margin-left: 3px;
    }

    .fa-long-arrow-up {
      color: rgb(6, 216, 100);
    }

    .fa-long-arrow-down {
      color: rgb(201, 70, 30);
    }
  }
}
