.com-basic-map-alarms{
  margin: auto 10px;
  overflow-y: visible;
  overflow-x: hidden;
  opacity: 0.8;

  .table-alarms {
    font-size: 13px;
    font-weight: normal;
    width: 100%;
    .alarm-title {
      border-bottom: solid 1px #192f44;
    }

    td, th {
      white-space: nowrap;
      text-align: center;
      padding: 6px 2px;
    }

    th {
      padding: 10px 2px 4px 2px;
      font-weight: normal;
      color: #278cef;
    }
  }

  .alarm-unresolved {
    white-space: nowrap;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 4px;
    display: inline-block;
    border: solid 1px rgb(192, 62, 62);
    background-color: rgb(192, 62, 62);
    color: #fff;
  }

  .alarm-resolved {
    color: #14b2da;
    white-space: nowrap;
    color: #fff;
    border-radius: 50%;
    border-radius: 10px;
    padding: 0 4px;
    display: inline-block;
    background-color: rgb(184, 218, 33);
  }

  .row-odd {
    background-color: #132453;
  }
}
