.system-energy-station-view {
  height: 100%;
  width: 100%;
  min-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .bottom-box {
    display: flex;
    width: 100%;
    padding: 10px 0 0 0;
    border-radius: 4px;
  }
}
