.basic-map-view{
  height: 100%;
  width: 100%;
  min-width: 1600px;
  position: relative;
  overflow: auto;

  .iframe-style {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .operation-summary {
    margin-top: 10px;
    .top-info-box {
      margin: 5px 10px;
      width: 120px;
      height: 120px;
    }

    .number-value {
      top: 10px;
      left: 10px;
    }
  }

  .top-box {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    z-index: 100;
    overflow: auto;
    .top-left {
      width: 440px;
      float: left;
      text-align: left;
    }

    .top-right {
      float: right;
      width: 440px;
      text-align: right;
    }

    .box-wrapper {
      margin: 20px 0 0 0;
      background-color: rgba($color: #000000, $alpha: 0.2);
      opacity: 0.8;
    }
  }

  .weather-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0.8;
  }

  .weather-info {
    width: 110px;
    height: 120px;
    border-radius: 8px;
    margin: 15px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #293faf, #0f6ea5);

    .number-text {
      color: rgb(59, 238, 238);
      font-size: 16px;
    }

    .fa {
      font-size: 30px;
    }
  }

  .button-wrapper {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 300px;
    right: 300px;
    width: auto;
    margin: auto;
    display: inline-block;
    z-index: 1000;
    .button-row {
      text-align: center;
      .button-item {
        cursor: pointer;
        margin: 6px;
        padding: 4px 8px;
        border-radius: 10px;
        text-align: center;
        display: inline-block;
        color: #ccc;
        border: 1px solid rgba(0, 0, 0, 0.4);
        background-color: rgba(0, 0, 0, 0.4);
        transition: all .3s;
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);

        &.else {
          color: #aaa;
          border: 1px solid rgba(6, 6, 104, 0.8);
          background-color: rgba(4, 0, 60, 0.8);
        }
      }

      .button-selected {
        border: 1px solid rgba(0, 0, 0, 0.4);
        background-color: rgba(49, 61, 155, 0.4);
        color: #03dfeb;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
        text-shadow: 0 0 6px rgba(#03dfeb, 0.6);
      }
    }
  }
}

