.basic-map-view{
  height: 100%;
  width: 100%;
  min-width: 1600px;
  position: relative;
  overflow: auto;

  .iframe-style {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .operation-summary {
    margin-top: 10px;
    .top-info-box {
      margin: 5px 10px;
      width: 120px;
      height: 120px;
    }

    .number-value {
      top: 10px;
      left: 10px;
    }
  }

  .top-box {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    z-index: 100;
    overflow: auto;
    .top-left {
      width: 440px;
      float: left;
      text-align: left;
    }

    .top-right {
      float: right;
      width: 400px;
      text-align: right;
    }

    .box-wrapper {
      margin: 20px 0 0 0;
      background: no-repeat;
      opacity: 0.8;
    }
  }

  .weather-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0.8;
  }

  .weather-info {
    width: 110px;
    height: 120px;
    border-radius: 8px;
    margin: 15px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #293faf, #0f6ea5);

    .number-text {
      color: rgb(59, 238, 238);
      font-size: 16px;
    }

    .fa {
      font-size: 30px;
    }
  }

  .button-wrapper {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: calc(50% - 300px);
    right: calc(50% - 300px);
    width: auto;
    margin: auto;
    display: inline-block;
    z-index: 1000;
    .button-row {
      text-align: center;
      .button-item {
        cursor: pointer;
        margin: 5px;
        padding: 2px 4px;
        border-radius: 4px;
        text-align: center;
        display: inline-block;
        color: #fff;
        background-color: rgb(13, 100, 172);
      }

      .button-selected {
        border: solid 1px #ccc;
      }
    }
  }
}

