$black: #000000;
$white: #ffffff;
$listTitleBlue: #337ab7;
$linkHoverColor: #337ab7;
$sysRed: #f35f43;
$textGray: #c5c5c5;
$placeholderGray: #999999;
$borderColor: #eeeeee;
$bgGreen: #00B999;
$bgGreenHover: #10caa9;
$disabledGray: #b9bdbf;

$gray-1: #7f7f7f;
$gray-2: #666;
$gray-5: #ddd;
$gray-6: #eee;
$gray-7: #efefef;
$gray-9: #f6f6f6;

$blue-1: #0c3dcd;
$blue-2: #337ab7;
$blue-3: #1c88e6;
$blue-4: #4a92d1;
$blue-8: #33bbdd;

$black: #000;
$black-2: #212421;
$black-3: #333;
