@import './colors.scss';

/* margin, padding start */
.margin-l{
  margin: 20px;
}

.margin {
  margin: 15px;
}

.margin-m {
  margin: 10px;
}

.margin-s {
  margin: 5px;
}

.margin-top {
  margin-top: 15px;
}

.margin-top-m {
  margin-top: 10px;
}

.margin-top-s {
  margin-top: 5px;
}

.margin-right {
  margin-right: 15px;
}

.margin-right-m {
  margin-right: 10px;
}

.margin-right-s {
  margin-bottom: 5px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-bottom-m {
  margin-bottom: 10px;
}

.margin-bottom-s {
  margin-bottom: 5px;
}

.margin-left {
  margin-bottom: 15px;
}

.margin-left-m {
  margin-bottom: 10px;
}

.margin-left-s {
  margin-bottom: 5px;
}

.no-margin{
  margin: 0!important;
}

.padding-top {
  padding-top: 15px;
}

.padding-top-m {
  padding-top: 10px;
}

.padding-top-s {
  padding-top: 5px;
}

.padding-right {
  padding-right: 15px;
}

.padding-right-m {
  padding-right: 10px;
}

.padding-right-s {
  padding-right: 5px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.padding-bottom-m {
  padding-bottom: 10px;
}

.padding-bottom-s {
  padding-right: 5px;
}

.padding-left {
  padding-left: 15px;
}

.padding-left-m {
  padding-left: 10px;
}

.padding-left-s {
  padding-right: 5px;
}

.padding-l {
  padding: 20px;
}

.padding {
  padding: 15px;
}

.padding-m {
  padding: 10px;
}

.padding-s {
  padding: 5px;
}
/* margin, padding end */

.full-screen-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.input-error {
  border: solid 1px $sysRed!important;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link-button {
  display: inline-block;
  color: $blue-3;
  cursor: pointer;
  &:hover {
      color: $blue-1;
  }
}

.hidden {
  display: none!important;
}

@keyframes popupAnimation {
  0% {
      transform: scale3d(0.5, 0.5, 0.5);
      opacity: 0;
  }
  100% {
      transform: scale3d(1, 1, 1);
      animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 1;
  }
}

.chart-wrapper {
  position: relative;
  .chart-block-title {
    font-size: 14px;
    position: absolute;
    z-index: 100;
    top: 4px;
    left: 18px;
  }
}

.title-icon {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: rgb(135, 146, 243);
  margin-right: 6px;
}

.alarm-wrapper {
  margin-left: -20px;
  padding-left: 20px!important;
  position: relative;
}

.vertical-separator {
  position: absolute;
  top: 50px;
  bottom: 40px;
  left: 0;
  border-left: solid 1px #3d4564;
  width: 1px;
  z-index: 100;
}


.operation-summary {
  width: 100%;
  text-align: center;
  position: relative;

  .top-info-box {
    display: inline-block;
    width: 140px;
    height: 140px;
    flex-grow: 1;
    margin: 10px 20px;
    text-align: center;
    white-space: normal;
    position: relative;
  }

  .number-value {
    font-size: 13px;
    margin-bottom: 10px;
    position: absolute;
    top: 22px;
    left: 30px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: normal;
  }
}

.top-row, .gauge-row {
  width: 100%;
  margin: 20px auto 30px auto;
  text-align: center;

  .top-info-box {
    display: inline-block;
    width: 140px;
    height: 140px;
    flex-grow: 1;
    margin: 10px 20px;
    text-align: center;
    white-space: normal;
    position: relative;
  }

  .number-value {
    font-size: 13px;
    margin-bottom: 10px;
    position: absolute;
    top: 22px;
    left: 30px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: normal;
  }

  .gauge-box {
    display: inline-block;
    flex-grow: 1;
    margin: 0 20px 10px 20px;
    text-align: center;
    white-space: normal;
    position: relative;
  }

  .gauge-title {
    text-align: center;
    position: relative;
    bottom: 40px;
    z-index: 100;
  }
}


.color-red {
  color: red!important;
}

.corner-bg {
  height: 15px;
  width: 15px;
  display: inline-block;
  position: absolute;
  z-index: 10000;
  border-width: 0;
  border-color: #5466df;
  border-style: solid;
}

.box-wrapper {
  background-color: #041238;
  overflow: auto;
  min-width: 360px;
  width: calc(25% - 10px);
  display: inline-block;
  height: 285px;
  overflow: hidden;
  position: relative;
  margin: 0 8px;

  .box-title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: 100% 25px;
    background-position: 10px 2px;
    padding-bottom: 5px;
  }

  .box-title-icon {
    height: 10px;
    width: 10px;
    margin-left: 12px;
    color: yellow;
    position: relative;
    bottom: 3px;
    font-size: 12px;
    // opacity: 0;
    // background: linear-gradient(225deg, yellow, yellow 50%, transparent 50%, transparent 100%);
  }

  .title-text {
    display: inline-block;
    margin-left: 10px;
  }
}

.alarm-info {
  position: absolute;
  top: 40px;
  right: 30px;
  padding: 10px 25px;
  background-color: #0c1e51;
  text-align: center;
  opacity: 0.8;

  .alarm-number {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    color: rgb(230, 71, 97);
  }

  .alarm-left-corner {
    background: rgb(230, 71, 97);
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 0);
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    height: 10px;
    width: 10px;
  }
}

.top-left-corner {
  border-top-width: 2px;
  border-left-width: 2px;
  left: 0;
  top: 0;
  @extend .corner-bg;
}


.top-right-corner {
  border-top-width: 2px;
  border-right-width: 2px;
  right: 0;
  top: 0;
  @extend .corner-bg;
}

.bottom-left-corner {
  border-bottom-width: 2px;
  border-left-width: 2px;
  left: 0;
  bottom: 0;
  @extend .corner-bg;
}

.bottom-right-corner {
  border-bottom-width: 2px;
  border-right-width: 2px;
  right: 0;
  bottom: 0;
  @extend .corner-bg;
}

.main-info-row {
  margin: 15px 0 25px 0;
  display: flex;
  justify-content: center;

  .main-info {
    text-align: center;
    background-image: linear-gradient(to right, #1b1f34, #1b1f34, #031444);
    padding-top: 10px;
    padding-bottom: 5px;
    width: 45%;
    margin: 0 5px;

    .main-info-number {
      display: block;
      text-align: center;
      white-space: nowrap;
      font-size: 26px;
      line-height: 26px;
      color: #68a557;
    }

    .yellow-color {
      color: #e6ce7a;
    }

    .red-color {
      color: #c7244d;
    }

    .blue-color {
      color: #28a1da;
    }

    .number-unit {
      color: #fff;
      font-size: 14px;
      margin-left: 1px;
    }

    .main-info-text {
      display: block;
      text-align: center;
      font-size: 15px;
      white-space: nowrap;
      color: #fff;
    }

    .info-number {
      text-align: right;
    }
  }
}

.row-item-box {
  border-radius: 4px;
  text-align: left;
  background-color: #0b2166;
  width: calc(50% - 20px);
  margin: 10px 5px;
  display: inline-block;
  .item-text {
    width: 50%;
    border-radius: 4px 0 0 4px;
    text-align: center;
    background-color: rgb(28, 46, 104);
    display: inline-block;
    padding: 6px 10px;
    white-space: nowrap;
  }

  .item-value {
    text-align: center;
    width: 49%;
    display: inline-block;
    padding: 6px 10px;
    white-space: nowrap;
  }
}

.text-red {
  color: #f15b81;
}

.text-green {
  color: #2fd846;
}

.text-yellow {
  color: #e6ce7a;
}