.analyse-second-pump-view{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow: auto;

  .top-box {
    width: 100%;
    .box-wrapper {
      height: 450px;
      width: 98%;
      background: none;
    }
  }

  .bottom-box {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    .table-history {
      width: 100%;
      color: #fff;
      thead {
        background-color: #141e57;
      }

      th, td {
        text-align: center;
        padding: 10px 8px;
      }
    }

    .row-even {
      background-color: #19244b;
    }

    .fa-long-arrow-up, .fa-long-arrow-down {
      margin-left: 3px;
    }

    .fa-long-arrow-up {
      color: rgb(6, 216, 100);
    }

    .fa-long-arrow-down {
      color: rgb(201, 70, 30);
    }
  }
}
