.allocation-day-view{
  min-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow: auto;

  .top-box {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    .top-left {
      width: 49%;
      min-width: 450px;
      display: inline-block;
      text-align: left;
    }

    .top-right {
      width: 49%;
      min-width: 450px;
      display: inline-block;
      text-align: right;
    }

    .box-wrapper {
      margin: 0;
      background: no-repeat;
    }

    .load-balance-wrapper {
      margin-top: 15px;
    }

    .date-button-wrapper {
      position: absolute;
      top: 10px;
      right: 5px;
      z-index: 1000;
    }

    .date-button {
      display: inline-block;
      height: 24px;
      line-height: 22px;
      border-radius: 12px;
      padding: 0 10px;
      border: solid 1px #fff;
      margin: 0 5px;
    }

    .date-button-selected {
      color: rgb(12, 213, 240);
      border-color: rgb(12, 213, 240);
    }
  }

  .bottom-box {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    .table-history {
      width: 100%;
      color: #fff;
      thead {
        background-color: #141e57;
        color: rgb(117, 149, 247);
      }

      th, td {
        text-align: center;
        padding: 10px 8px;
      }
    }

    .text-box-green {
      display: inline-block;
      color: rgb(6, 216, 100);
      border: solid 1px rgb(6, 216, 100);
      padding: 1px;
      width: 55px;
      border-radius: 10px;
    }

    .text-box-red {
      display: inline-block;
      color: rgb(201, 70, 30);
      border: solid 1px rgb(201, 70, 30);
      padding: 1px;
      border-radius: 10px;
      width: 55px;
    }

    .row-even {
      background-color: #1a2759;
    }

    .fa-long-arrow-up, .fa-long-arrow-down {
      margin-left: 3px;
    }

    .fa-long-arrow-up {
      color: rgb(6, 216, 100);
    }

    .fa-long-arrow-down {
      color: rgb(201, 70, 30);
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }

  .device-status-box {
    display: flex;
    justify-content: space-between;
  }

  .device-status-column {
    display: inline-block;
    width: 32%;
    .row-item-box {
      width: 100%;
    }
  }

  .device-status-title {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(133, 162, 247);
  }

  .table-status {
    width: 100%;
    border-radius: 4px;
    background-color: #11549b;

    th {
      font-size: 15px;
      font-weight: normal;
      padding-bottom: 15px;
    }

    td, th {
      padding: 6px 2px 6px 5px;
    }

    .table-status-value {
      padding-left: 0;
      padding-right: 8px;
    }
  }

  .e-price {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
  }

  .e-price-item {
    padding: 30px;
    width: 28%;
    position: relative;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(to bottom, #0b366b, #26568d, #0b366b);
    border-radius: 4px;
    height: 206px;

    div {
      margin: 10px;
    }
  }

  .e-price-desc {
    margin-bottom: 20px;
    font-size: 16px;
    color: rgb(133, 162, 247);
  }
}
