.com-alarms{
  height: 240px;
  overflow-y: auto;
  overflow-x: hidden;

  .table-alarms {
    font-size: 13px;
    font-weight: normal;
    width: 100%;
    .alarm-title {
      border-bottom: solid 1px #3d4564;
    }

    tr {
      border-bottom: solid 1px #2f3757;
    }

    td, th {
      white-space: nowrap;
      text-align: center;
      padding: 8px 2px;
    }

    th {
      padding: 16px 2px 4px 2px;
      font-weight: normal;
    }
  }

  .alarm-unresolved {
    color: red;
    white-space: nowrap;
    cursor: pointer;
  }

  .alarm-resolved {
    color: #14b2da;
    white-space: nowrap;
  }
}
