.com-alarms{
  .alarm-item {
    margin: 15px 0;
    display: flex;
    align-items: center;

    .alarm-level {
      height: 28px;
      line-height: 28px;
      border-radius: 14px;
      border: solid 1px red;
      color: red;
      text-align: center;
      padding: 0 15px;
      white-space: nowrap;
      margin-right: 5px;
    }

    .alarm-content {
      flex-grow: 1;
      .alarm-time {
        display: block;
        margin-bottom: 5px;
      }
    }

    .alarm-status {
      color: #14b2da;
      white-space: nowrap;
    }

    .yellow-alarm {
      border: solid 1px yellow;
      color: yellow;
    }
  }
}
