.system-solar-water-heater-view{
  min-width: 1500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .bottom-box {
    display: flex;
    width: 100%;
    background-color: #151e3b;
    padding: 10px 0 5px 15px;
    border-radius: 4px;
    .summary-info {
      display: inline-block;
      width: 24%;
      padding: 10px 15px 10px 0;

      .summary-info-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
      }
    }

    .alarm-wrapper {
      padding-left: 15px;
    }

    .chart-wrapper {
      overflow: auto;
      min-width: 450px;
      width: 24%;
      display: inline-block;
      position: relative;
    }

    .date-button-wrapper {
      position: absolute;
      top: 10px;
      right: 5px;
      z-index: 1000;
    }

    .date-button {
      display: inline-block;
      height: 24px;
      line-height: 22px;
      border-radius: 12px;
      padding: 0 10px;
      border: solid 1px #fff;
      margin: 0 5px;
    }

    .date-button-selected {
      color: rgb(12, 213, 240);
      border-color: rgb(12, 213, 240);
    }
  }
}
